body {
    background-image:url(renga.jpeg);
}

.logo {
    text-align: center;
    font-family: 'conanFont';
    color: rgb(228, 232, 240);
    font-size: 80px;
    text-shadow: 2px 2px 4px rgb(18, 95, 236);
}

@font-face {
    font-family: 'conanFont';
    src: url('コナン明朝.woff') format('woff');
}

p {
    margin-top: -16px;
    height: 140px;
}

button {

}