.caption {
    background-image:url(renga.jpeg);
    text-align: center;
    height: 358px;
}

.logo {
    color: rgb(209, 0, 0);
    font-size: 100px;
    -webkit-text-stroke: 3px #ffa600;
    font-weight: 900;
    margin: 0;
}

.detective {
    font-size: 60px;
    font-weight: 900;
    display: inline-block;
    background: linear-gradient(180deg, rgb(209, 0, 0) 0%, #ffa600 72%, #ffea31 100%);
    background: -webkit-linear-gradient(-90deg, rgb(209, 0, 0) 0%, #ffa600 72%, #ffea31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px;
    font-style: italic;
}

@font-face {
    font-family: 'conanFont';
    src: url('コナン明朝.woff') format('woff');
}

.title {
    color: rgb(228, 232, 240);
    font-size: 80px;
    text-shadow: 2px 2px 4px rgb(18, 95, 236);
    font-family: 'conanFont';
    margin-top: -16px;
    height: 140px;
}

.body {
    text-align: center;
    background-color: dimgrey;
    height: 500px;
    padding-top: 16px;
}

#button {
    position: relative;
    overflow: hidden;
    margin: 48px auto 64px auto;
    color: black;
    background-color: rgb(235, 231, 231);
    height: 32px;
    width: 96px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.5s;
}

#button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgb(0, 0, 0) 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
}

#button:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
}

#button:hover {
    background-color: white;
    transition: 0.5s;
}

.text {
    color: white;
    letter-spacing: 2.5pt;
}

.share {
    padding-top: 64px;
}

button {
    border: 0;
}

.twitter {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #00acee;
    line-height: 32px;
    height: 32px;
    width: 96px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 16px;
    transition: 0.5s;
}

.twitter::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, #fff 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
}

.twitter:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
}

.twitter:hover {
    background-color: #00b7ff;
    transition: 0.5s;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 50%;
    text-align: center;
}

.icon {
    text-decoration: none;
    color: white;
    width: 15%;
    font-size: 1.5em;
}

a {
    color: #fff;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0 5% 0 5%;
}

ul {
    padding-left: 0;
}

@media  screen and (max-width: 1024px) {
    .logo {
        font-size: 80px;
        padding-top: 32px;
    }

    .detective {
        font-size: 50px;
    }

    .title {
        font-size: 70px;
    }
}

@media  screen and (max-width: 599px) {
    .caption {
        height: 253px;
    }

    .logo {
        font-size: 50px;
        padding-top: 48px;
        -webkit-text-stroke: 2px #ffa600;
    }

    .detective {
        font-size: 30px;
        font-weight: 700;
    }

    .title {
        font-size: 45px;
    }

    .body {
        height: 450px;
    }

    .text {
        letter-spacing: 0;
    }

    #button {
        margin: 32px auto 48px auto;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .item {
        width: 100%;
    }
}